/**BIG FAT DARUMA
 * The first commented line is your dabblet’s title
 */
 
 


 
h1 {font-size: 4em;
	color: black;
	font-family: Covered By Your Grace, cursive;
	glow: 0 0 30px #ddd;
	text-align:center;
	
}
	
h2 {font-size: 2em;
	color: #cc0033;
	font-family: Covered By Your Grace, cursive;

	text-align:center;
}	
p {
	font-size: 1em;
	font-family: 'Inder', sans-serif;
	text-align:center;
}
 
body {


background: linear-gradient( 0deg, white, moccasin ); 
background-image: -webkit-linear-gradient(bottom, white, moccasin); */


}/* Gradient for Chrome */

.clear {

font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;

}

.handwrite {

font-size: 2em;
font-family: Covered By Your Grace, cursive;


}



#header {
	height: 45px;
	position: fixed;
	min-width: 1285px;
	background-color: #cc0033;
    box-shadow: 0 0 30px #ddd;
    top: 0;
    left: 0;
    right: 0;
    
    }