/**BIG FAT DARUMA
 * The first commented line is your dabblet’s title
 */
 
 


 
h1 {font-size: 4em;
	color: black;
	font-family: Covered By Your Grace, cursive;
	glow: 0 0 30px #ddd;
	text-align:center;
	
}
	
h2 {font-size: 2em;
	color: #cc0033;
	font-family: Covered By Your Grace, cursive;

	text-align:center;
}	
p {
	font-size: 1em;
	font-family: 'Inder', sans-serif;
	text-align:center;
}
 
body {
background-color:silver;
background-image: 
radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent),
radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent),
radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
background-size:100px 50px;

}/* Gradient for Chrome */

.clear {

font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;

}

.handwrite {

font-size: 2em;
font-family: Covered By Your Grace, cursive;


}



#header {
	height: 45px;
	position: fixed;
	min-width: 1285px;
	background-color: #cc0033;
    box-shadow: 0 0 30px #ddd;
    top: 0;
    left: 0;
    right: 0;
    
    }